@import url("https://fonts.googleapis.com/css?family=Corben:400,700|Katibeh&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=IM+Fell+English:400i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  backface-visibility: hidden; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  letter-spacing: .1rem; }

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }
  body a {
    text-decoration: none; }
  body a:active,
  body a:focus {
    outline: none; }

.container {
  position: relative;
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  grid-template-rows: 100vh repeat(1, 1fr); }

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 45%; } }

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 40%; } }

@media only screen and (max-width: 43.75em) {
  .container {
    grid-template-rows: 100vh; } }

.container > * {
  padding: 10rem; }
  @media only screen and (max-width: 43.75em) {
    .container > * {
      padding: 5rem; } }

@media only screen and (max-height: 43.75em) {
  .container > * {
    padding: 5rem; } }

[data-scroll] {
  transition: opacity 1s; }

[data-scroll="in"] {
  opacity: 1; }

[data-scroll="out"] {
  opacity: 0; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mt-sm {
  margin-bottom: 2rem; }

.mt-md {
  margin-bottom: 3rem; }

.mt-lg {
  margin-bottom: 4rem; }

.active {
  border-bottom: 2px solid #ff006a; }

.btn {
  font-size: 2rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: none;
  box-shadow: 0px 1rem 3rem rgba(51, 54, 44, 0.8);
  text-transform: uppercase;
  font-family: "Corben", cursive;
  cursor: pointer; }
  .btn--pink {
    background-color: #ff006a;
    background-color: #feac00;
    color: #fff;
    transition: all .1s;
    border: 2px solid #feac00; }
    .btn--pink:hover {
      background: #000;
      border: 2px solid #fff;
      color: #fff; }
  .btn--violet {
    background-color: #ae1ec7;
    background-color: #ffc845;
    background-color: #feac00;
    color: #fff;
    transition: all .1s;
    border: 2px solid transparent; }
    .btn--violet:hover {
      background: #000;
      border: 2px solid #fff;
      color: #fff; }
  .btn--yellow {
    background-color: #ffa116;
    background-color: #ffc845;
    background-color: #feac00;
    color: #fff;
    transition: all .1s;
    border: 2px solid transparent;
    transition: all .2s ease-in; }
    .btn--yellow:hover {
      background: #000;
      border: 2px solid #fff;
      color: #fff; }
  @media only screen and (max-width: 43.75em) {
    .btn {
      font-size: 1.5rem;
      padding: .6rem 1.2rem; } }

.heading__primary {
  font-size: 6.6rem;
  line-height: 1;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .heading__primary {
      font-size: 4.5rem; } }

.heading__secondary {
  font-size: 5rem;
  line-height: 1; }

.heading__tertiary {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1; }
  @media only screen and (max-width: 37.5em) {
    .heading__tertiary {
      font-size: 2rem; } }

.heading__4 {
  font-size: 1.5rem; }

.heading-5 {
  font-size: 1.3rem; }

@keyframes memberAnimation {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%); }
  10% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 10%); }
  30% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 30%); }
  60% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 60%); }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 100%); } }

@keyframes plusRotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(720deg); } }

@keyframes eventAnime {
  0% {
    width: 0%; }
  10% {
    width: 10%; }
  100% {
    width: 100%; } }

@keyframes rotateInPlace {
  0% {
    transform: rotate(36deg); }
  10% {
    transform: rotate(72deg); }
  20% {
    transform: rotate(108deg); }
  30% {
    transform: rotate(144deg); }
  40% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(216deg); }
  60% {
    transform: rotate(252deg); }
  70% {
    transform: rotate(298deg); }
  100% {
    transform: rotate(360deg); } }

.header {
  position: relative;
  grid-column: full-start/full-end;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/background/background1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  z-index: 11;
  display: grid;
  grid-template-rows: min-content; }
  .header__main {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    grid-column-gap: 10rem;
    align-items: center;
    font-family: "Montserrat", sans-serif; }
    @media only screen and (max-width: 87.5em) {
      .header__main .header__brand {
        justify-self: center;
        justify-content: center; } }
    .header__main__nav {
      position: relative;
      list-style: none;
      font-size: 1.8rem;
      display: grid;
      grid-template-columns: repeat(5, minmax(min-content, 1fr));
      justify-items: center; }
      .header__main__nav a {
        color: #fff;
        text-decoration: none;
        cursor: pointer; }
      .header__main__nav li {
        border-bottom: 4px solid transparent;
        transition: all .5s;
        cursor: pointer; }
      .header__main__nav li:hover {
        color: #ffa116; }
      @media only screen and (max-width: 34.375em) {
        .header__main__nav {
          font-size: 1.4rem; } }
    .header__main__btns {
      justify-self: center;
      padding-left: 20rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      grid-gap: 2rem;
      font-family: "Corben", cursive;
      cursor: pointer; }
      @media only screen and (max-width: 87.5em) {
        .header__main__btns {
          grid-row: 3/-1;
          justify-self: center; } }
    @media only screen and (max-width: 87.5em) {
      .header__main {
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: 1fr;
        grid-row-gap: 2rem; } }
  .header__details {
    margin: 15rem 0;
    grid-row: 2/3;
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    text-align: center; }
    .header__details h3 {
      text-transform: capitalize; }
    .header__details button {
      margin-left: 3rem; }
    .header__details .heading__primary {
      font-family: "Orbitron", sans-serif;
      text-transform: uppercase;
      font-size: 8rem;
      letter-spacing: 1rem;
      margin-bottom: 5rem; }
    .header__details .heading__tertiary {
      position: relative;
      font-family: "Orbitron", sans-serif;
      text-transform: uppercase;
      font-size: 4rem;
      text-align: center; }
    .header__details h4 {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 2rem;
      text-align: center;
      font-weight: bold; }
    .header__details h5 {
      text-transform: capitalize;
      font-family: "Montserrat", sans-serif;
      letter-spacing: .6rem;
      font-size: 4.5rem;
      font-weight: normal;
      margin-top: 10rem; }
  .header__depart {
    align-self: end;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center; }
  .header__edtition {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .5rem;
    align-items: center; }
    @media only screen and (max-width: 43.75em) {
      .header__edtition {
        grid-template-columns: 1fr 2fr 1fr; } }
    .header__edtition::after, .header__edtition::before {
      content: '';
      position: absolute;
      height: .5rem;
      width: 100%;
      background-color: #ffffff; }
    .header__edtition .heading__tertiary {
      grid-column: 2/span 1;
      letter-spacing: .5rem; }
      @media only screen and (max-width: 43.75em) {
        .header__edtition .heading__tertiary {
          font-size: 4rem; } }
    .header__edtition::after {
      grid-column: -2/-1; }
    .header__edtition::before {
      grid-column: 1/span 1; }

@media only screen and (max-width: 87.5em) {
  .header__main {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;
    grid-row-gap: 2rem; } }

@media only screen and (max-width: 87.5em) {
  .header__main .header__brand {
    justify-self: center;
    justify-content: center; } }

@media only screen and (max-width: 34.375em) {
  .header__main__nav {
    font-size: 1.4rem; } }

@media only screen and (max-width: 87.5em) {
  .header__main__btns {
    grid-row: 3/-1;
    justify-self: center; } }

@media only screen and (max-width: 43.75em) {
  .header__edtition {
    grid-template-columns: 1fr 2fr 1fr; } }

@media only screen and (max-width: 43.75em) {
  .header__edtition .heading__tertiary {
    font-size: 4rem; } }

@media only screen and (max-width: 43.75em) {
  .header__main {
    padding: 0;
    grid-template-rows: repeat(2, min-content);
    justify-items: start; }
    .header__main .header__brand .brand__logo {
      width: 25rem;
      height: 10rem; } }
    @media only screen and (max-width: 43.75em) and (max-width: 43.75em) {
      .header__main .header__brand .brand__logo {
        width: 10rem;
        height: 4rem; } }

@media only screen and (max-width: 43.75em) {
    .header__main > a {
      grid-row: 1/2;
      grid-column: 1/-1; }
    .header__main__nav {
      grid-row: 2/3;
      justify-self: stretch;
      justify-items: center;
      grid-column-gap: 1rem;
      font-size: 1.4rem; }
    .header__main__btns {
      grid-row: 1/2;
      grid-column: 1/-1;
      justify-self: end; } }
    @media only screen and (max-width: 43.75em) and (max-width: 43.75em) {
      .header__main__btns .header__btn {
        padding: .3rem .6rem; } }

@media only screen and (max-width: 43.75em) {
  .header__details .heading__primary {
    font-size: 6rem; }
  .header__details h4 {
    font-size: 2.2rem; }
  .header__details h5 {
    font-size: 3.5rem; } }

.about {
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/background/footer.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: left;
  color: #ffffff;
  display: grid; }
  .about__details {
    justify-self: center;
    font-size: 1.6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
    hyphens: auto; }

@media only screen and (max-width: 43.75em) {
  .about {
    grid-column: full-start/full-end; } }

@media only screen and (max-width: 43.75em) {
  .about__details {
    width: 100%;
    text-align: left; } }

@media only screen and (max-width: 43.75em) {
  .about__details {
    width: 100%; } }

@media only screen and (max-height: 43.75em) {
  .about__details {
    width: 100%; } }

.team {
  grid-column: full-start/full-end;
  position: relative;
  background-color: #131144;
  display: grid;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/background/team.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  .team__heading {
    grid-row: 1/span 1;
    color: #fff; }
  .team__members {
    grid-row: 2/span 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem;
    width: 100%; }
  .team__btn {
    margin-top: 4rem;
    align-self: center;
    justify-self: center; }

.member {
  width: 100%;
  height: 100%;
  padding: 4rem 0rem;
  box-shadow: 0 2rem 4rem rgba(255, 255, 255, 0.25);
  border-radius: .5rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr;
  justify-items: center;
  transition: all .5s ease-in; }
  .member__photo {
    width: 20rem;
    height: 20rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative; }
  .member__img {
    height: 100%;
    transition: all .5s; }
  .member__contact {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    text-align: center;
    transform: translate(-50%, 50%);
    visibility: hidden;
    opacity: 0; }
    .member__contact svg {
      fill: #fff;
      width: 3rem;
      height: 3rem; }
  .member__name {
    font-size: 2rem;
    color: #fff;
    font-weight: 300; }
  .member__position {
    font-size: 1.6rem;
    color: #ff006a;
    font-weight: 300; }
  .member:hover {
    background: rgba(0, 0, 0, 0.3);
    box-sizing: 0 2rem 4rem rgba(0, 0, 0, 0.88); }
  .member:hover .member__img {
    filter: blur(0.1rem) brightness(50%);
    transform: scale(1.1); }
  .member:hover .member__contact {
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1; }

@media only screen and (max-width: 43.75em) {
  .member {
    grid-gap: 0rem;
    justify-content: center; } }

.events {
  grid-column: full-start/full-end;
  background-image: url(../images/background/events.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: grid; }
  .events__title {
    color: #ffffff;
    text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.64); }
  .events__items {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    grid-gap: 5rem;
    justify-self: center; }

@media only screen and (max-width: 43.75em) {
  .events__items {
    width: 100%; } }

@media only screen and (max-height: 43.75em) {
  .events__items {
    width: 100%; } }

.gallery {
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/background/gallery.jpg);
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 5rem;
  justify-items: center;
  align-items: center; }
  .gallery__heading {
    grid-row: 1/span 1;
    color: #000;
    font-weight: bold; }
  .gallery__items {
    grid-row: 2/-2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); }
  .gallery__btn {
    grid-row: -2/-1; }
  .gallery__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    cursor: pointer; }
  .gallery__img {
    width: 100%;
    height: 100%; }
  .gallery__plus {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: opacity .2s ease-in .8s; }
    .gallery__plus svg {
      fill: #fff;
      width: 8rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .gallery__item:hover .gallery__plus {
    opacity: 1;
    animation: plusRotate 2s;
    animation-delay: .7s; }

.testimonials {
  grid-column: full-start/full-end;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #fff6ec 39.5%, rgba(100, 46, 122, 0.23) 100.2%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/background/testimonials.jpg");
  background-size: cover;
  color: #ffffff; }
  .testimonials__heading {
    grid-column: 1/-1;
    color: #ffffff; }
  .testimonials__content {
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr)); }

.testimonial {
  display: grid;
  grid-row-gap: 2.5rem;
  box-shadow: 0 2rem 4rem rgba(255, 255, 255, 0.25);
  padding: 2.5rem;
  border-radius: .5rem; }
  .testimonial__content {
    font-size: 1.7rem; }
  .testimonial__author {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2.5rem;
    align-self: end; }
  .testimonial__photo {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden; }
    .testimonial__photo img {
      width: 100%;
      height: 100%; }
  .testimonial__name {
    align-self: center; }
    .testimonial__name h4 {
      font-size: 1.5rem; }

.sponsor {
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/background/sponsors.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: grid;
  justify-content: stretch; }
  .sponsor__items {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 4rem;
    grid-row-gap: 4rem;
    justify-self: center;
    justify-items: stretch; }
  .sponsor__item {
    height: 25rem;
    border-radius: .5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.85);
    object-fit: cover;
    overflow: hidden;
    filter: brightness(80%); }
    .sponsor__item img {
      width: 100%;
      height: 100%; }
    .sponsor__item--add {
      padding: 4rem;
      color: #fff;
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      border: 1px solid rgba(0, 0, 0, 0.17);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.85);
      border-radius: 1rem;
      text-align: center;
      display: grid;
      align-items: center;
      justify-items: center; }
      .sponsor__item--add svg {
        fill: #fff;
        width: 4.5rem;
        height: 4.5rem; }
      .sponsor__item--add a {
        text-decoration: none;
        color: #fff; }
  .sponsor__heading {
    color: #fff;
    font-weight: bold;
    text-transform: capitalize; }

@media only screen and (max-width: 62.5em) {
  .sponsor__items {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }

@media only screen and (max-width: 43.75em) {
  .sponsor__items {
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); } }

@media only screen and (max-width: 43.75em) {
  .sponsor__items {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem; } }

@media only screen and (max-width: 43.75em) {
  .sponsor__item--add {
    font-size: 1.2rem;
    padding: .5rem; }
    .sponsor__item--add svg {
      width: 2.5rem;
      height: 2.5rem; } }

@media only screen and (max-height: 43.75em) {
  .sponsor__item--add {
    font-size: 2rem; } }

.footer {
  grid-column: full-start/full-end;
  color: #fff;
  font-size: 1.6rem;
  margin-top: -10rem;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/background/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  grid-column-gap: 4rem; }
  .footer ul {
    list-style: none; }
    .footer ul li {
      text-transform: capitalize;
      margin-bottom: 1rem; }
  .footer a {
    text-decoration: none;
    color: #fff; }
  .footer p {
    margin-bottom: 2rem; }
  .footer__item__heading {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2rem; }
  .footer__explore ul {
    list-style: none; }
  .footer__follow svg {
    width: 4.5rem;
    height: 4.5rem;
    fill: #fff; }
  .footer__visit p {
    margin-bottom: 4rem; }

@media only screen and (max-width: 56.25em) {
  .footer {
    grid-template: min-content/minmax(25rem, 1fr);
    font-size: 1.2rem;
    grid-row-gap: 5rem;
    padding: 5rem; }
    .footer__item__heading {
      display: none; }
    .footer ul {
      display: flex;
      padding-right: 1rem; }
      .footer ul li {
        margin-right: 1rem; } }

@media only screen and (max-width: 43.75em) {
  .footer {
    grid-template: min-content/minmax(25rem, 1fr);
    font-size: 1.2rem;
    grid-row-gap: 5rem;
    padding: 5rem; }
    .footer__item__heading {
      display: none; }
    .footer ul {
      display: flex;
      padding-right: 1rem; }
      .footer ul li {
        margin-right: 1rem; } }

.top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 50%;
  border: none;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  z-index: 100; }
  .top img {
    width: 100%;
    height: 100%; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/background/autumn.jpg);
  padding: 1rem 2rem;
  z-index: 10;
  box-shadow: 0 2rem 4rem rgba(255, 255, 255, 0.41);
  display: grid;
  grid-template-columns: 20rem minmax(min-content, 1fr);
  align-items: center; }
  .sticky__img {
    width: 20rem;
    height: 8rem;
    background-image: url("../images/logo_new.png");
    background-size: cover;
    background-position: center; }
    .sticky__img img {
      width: 100%;
      height: 100%;
      opacity: 0; }
  .sticky__nav {
    position: relative;
    justify-self: end;
    list-style: none;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(8, minmax(max-content, 10rem));
    grid-column-gap: 4rem;
    justify-items: center;
    align-items: center; }
    .sticky__nav a {
      text-decoration: none;
      color: #fff;
      transition: all .5s ease-in; }
    .sticky__nav .btn--login {
      display: none; }

@media only screen and (max-width: 50em) {
  .sticky {
    grid-template-columns: max-content;
    padding: 1rem 0; } }

@media only screen and (max-width: 50em) {
  .sticky__img {
    display: none; } }

@media only screen and (max-width: 75em) {
  .sticky__nav {
    grid-column-gap: 2rem; } }

@media only screen and (max-width: 87.5em) {
  .sticky__nav {
    grid-column-gap: 1rem; } }

@media only screen and (max-width: 50em) {
  .sticky__nav {
    justify-self: stretch; } }

@media only screen and (max-width: 43.75em) {
  .sticky__nav {
    grid-column-gap: .3rem;
    font-size: 1.4rem; }
    .sticky__nav .brand__logo {
      width: 20rem;
      height: 8rem; } }

@media only screen and (max-width: 75em) {
  .sticky__nav .btn {
    font-size: 1.4rem;
    padding: .6rem 1.2rem; } }

@media only screen and (max-width: 43.75em) {
  .sticky__nav .btn {
    display: none; }
    .sticky__nav .btn--login {
      display: block; } }

.brand {
  display: grid;
  grid-template-rows: repeat(1, min-content);
  grid-template-columns: min-content;
  align-items: center;
  grid-gap: 2rem; }
  .brand__logo {
    grid-column: 1/2;
    width: 20rem;
    height: 8rem;
    background-image: url("../images/logos/logo_new.png");
    background-size: cover;
    background-position: center; }
    .brand__logo img {
      width: 100%;
      height: 100%;
      opacity: 0; }

@media only screen and (max-width: 43.75em) {
  .brand__logo {
    width: 25rem;
    height: 10rem; } }

.nav ul {
  list-style: none;
  font-size: 2rem; }
  .nav ul a {
    color: #fff;
    text-decoration: none; }

.event {
  position: relative;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 4rem;
  width: 100%;
  color: #fff;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 2rem;
  align-items: center; }
  .event__time {
    font-size: 2em;
    grid-row: 2/span 1; }
  .event__details {
    font-size: 1.7rem;
    display: grid;
    grid-row-gap: 1rem;
    grid-row: 1/span 1; }
  .event__name {
    line-height: 1; }
  .event__contact {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: center;
    align-items: center; }
  .event__cover {
    grid-row: 3/-1;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    grid-column-gap: 1.5rem;
    align-content: center;
    align-items: center;
    justify-content: center; }
    .event__cover svg {
      line-height: 1;
      width: 4.5rem;
      height: 4.5rem;
      fill: #fff; }
    .event__cover a {
      text-decoration: none; }
    .event__cover .registered-btn {
      display: none; }
  .event--1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/events/enviro.jpg); }
  .event--2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/events/mino.jpg); }
  .event--3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/events/plantation.jpg); }
  .event--4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/events/exhibition.jpg); }
  .event--5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/events/paper.jpg); }

.card {
  visibility: hidden;
  position: fixed;
  bottom: 4vh;
  right: 2vw;
  z-index: 10;
  background-image: linear-gradient(rgba(255, 200, 69, 0.81), rgba(255, 200, 69, 0.81));
  color: #fff;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 2rem;
  border-radius: 1rem;
  border: 2px solid rgba(255, 200, 69, 0.71);
  box-shadow: 0 2rem 4rem #ffc845;
  padding: 2rem;
  width: 40rem; }
  .card__header {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-evenly;
    align-items: center; }
    .card__header svg {
      height: 4.5rem;
      width: 4.5rem;
      fill: #fff; }
  .card__heading {
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-size: 4rem; }
  .card__close {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: -1rem;
    top: -1rem;
    cursor: pointer; }
  .card__input {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    border: 1.5px solid transparent; }
    .card__input .icon {
      margin-left: -3rem; }
    .card__input svg {
      fill: transparent; }
    .card__input select {
      width: 20rem; }
  .card__submit {
    display: flex;
    align-items: center; }
    .card__submit svg {
      height: 4.5rem;
      width: 4.5rem;
      margin-left: 2rem;
      fill: transparent; }
  .card__body {
    display: grid;
    grid-template-rows: min-content;
    font-size: 1.6rem; }
    .card__body input {
      padding: 1rem;
      border: none;
      border-radius: 0;
      outline: none;
      box-shadow: 0;
      cursor: pointer;
      background-color: transparent;
      font-size: 2rem;
      color: #fff;
      border-bottom: 2px solid rgba(255, 200, 69, 0.71); }
    .card__body .btn {
      width: 40%;
      padding: .3rem .6rem;
      margin: 2rem 0;
      cursor: pointer; }
    .card__body a {
      color: rgba(67, 8, 152, 0.92);
      text-decoration: none; }
      .card__body a:hover {
        color: #fff; }

.icon {
  width: 3rem;
  height: 3rem; }
  .icon--success {
    fill: rgba(12, 215, 106, 0.9); }
  .icon--danger {
    fill: rgba(226, 25, 25, 0.81); }

.error {
  color: #e21919 !important;
  font-size: 1.2rem; }

.hint {
  color: #000;
  font-size: 1.2rem; }

.red-fill {
  fill: rgba(226, 25, 25, 0.81) !important;
  animation: shake .6s !important; }

.green-fill {
  fill: rgba(12, 215, 106, 0.9) !important;
  animation: fadeIn 1s !important; }

.loading {
  fill: rgba(12, 215, 106, 0.9) !important;
  animation: rotateInPlace 2s infinite !important; }

.info {
  visibility: hidden;
  position: fixed;
  top: 25vh;
  left: 50rem;
  width: 90rem;
  z-index: 10;
  padding: 6rem;
  font-size: 1.8rem;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.73), rgba(255, 200, 69, 0.81));
  border: 2px solid rgba(255, 200, 69, 0.71);
  box-shadow: 0 2rem 4rem #ffc845;
  border-radius: 1rem;
  color: rgba(33, 32, 32, 0.98);
  color: #fff;
  display: grid;
  grid-template-columns: minmax(30rem, 1fr) 5rem; }
  .info__heading {
    grid-row: 1/2;
    grid-column: 1/-1;
    margin-bottom: 2rem;
    text-align: center; }
  .info__close {
    margin-right: -6rem;
    grid-column: -2/-1;
    position: absolute;
    width: 4.6rem;
    height: 5.5rem;
    cursor: pointer;
    right: -1rem;
    top: -1rem;
    fill: rgba(226, 25, 25, 0.81);
    z-index: 20; }
  .info__content {
    grid-column: 1/-1;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden; }
    .info__content ul {
      list-style-image: url("../images/icons/point-right.png"); }

@media only screen and (max-width: 87.5em) {
  .info {
    left: 0; } }

@media only screen and (max-width: 43.75em) {
  .info {
    left: 5rem;
    width: 50rem; } }

.welcome {
  visibility: hidden;
  position: fixed;
  top: 20vh;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid rgba(255, 200, 69, 0.71);
  box-shadow: 0 2rem 4rem #ffc845;
  width: 80%;
  height: 20vh;
  background: #ffffff;
  z-index: 1;
  font-size: 4rem;
  border-radius: 1rem;
  display: grid;
  justify-content: center;
  align-content: center;
  color: #0cd76a; }

.message {
  visibility: hidden;
  position: fixed;
  top: 20vh;
  z-index: 2;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: max-content min-content; }
  .message__text {
    border: 2px solid rgba(255, 200, 69, 0.71);
    box-shadow: 0 2rem 4rem #ffc845;
    width: 100%;
    background: #ffffff;
    font-size: 2rem;
    border-radius: .8rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: min-content;
    align-content: center;
    justify-items: center;
    color: #0cd76a; }
  .message__close {
    fill: red;
    width: 4rem;
    height: 4rem;
    margin-left: -4rem;
    cursor: pointer; }

.site {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 1rem; }
  .site__details {
    grid-column: 2/span 1;
    grid-row: 1/ span 1;
    align-items: center;
    text-transform: uppercase;
    align-self: center;
    color: #ffffff;
    letter-spacing: 0px; }
  .site__name {
    font-size: 1.2rem; }
  .site__slogan {
    font-size: 1rem;
    align-self: center; }

.admin-btn {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  z-index: 10; }
