*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }

body {
  font-family: "Arimo", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  position: relative;
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  grid-template-rows: 100vh repeat(1, 1fr);
  grid-row-gap: 5rem; }
  @media only screen and (max-width: 43.75em) {
    .container {
      grid-template-rows: 100vh; } }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mt-sm {
  margin-bottom: 2rem; }

.mt-md {
  margin-bottom: 3rem; }

.mt-lg {
  margin-bottom: 4rem; }

.btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  border: none;
  box-shadow: 0px 1rem 3rem rgba(51, 54, 44, 0.8);
  text-transform: uppercase; }
  .btn--pink {
    background-color: #ff006a;
    color: #fff;
    transition: all .1s;
    border: 2px solid transparent; }
    .btn--pink:hover {
      background: transparent;
      border: 2px solid #ff006a;
      color: #ff006a; }
  .btn--violet {
    background-color: #ae1ec7;
    color: #fff;
    transition: all .1s;
    border: 2px solid transparent; }
    .btn--violet:hover {
      background: #ffa116;
      border: 2px solid #ffa116; }
  .btn--yellow {
    background-color: #ffa116;
    color: #fff;
    transition: all .1s;
    border: 2px solid transparent;
    transition: all .2s ease-in; }
    .btn--yellow:hover {
      background: transparent;
      border: 2px solid #ffa116; }
  @media only screen and (max-width: 43.75em) {
    .btn {
      font-size: 1.5rem;
      padding: .6rem 1.2rem; } }

.heading__primary {
  font-size: 6.6rem;
  line-height: 1; }
  @media only screen and (max-width: 37.5em) {
    .heading__primary {
      font-size: 4.5rem; } }

.heading__secondary {
  font-size: 5rem;
  line-height: 1; }

.heading__tertiary {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1; }
  @media only screen and (max-width: 37.5em) {
    .heading__tertiary {
      font-size: 2rem; } }

.heading__4 {
  font-size: 1.8rem; }

@keyframes memberAnimation {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%); }
  10% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 10%); }
  30% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 30%); }
  60% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 60%); }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 100%); } }

@keyframes plusRotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(720deg); } }

@keyframes eventAnime {
  0% {
    width: 0%; }
  10% {
    width: 10%; }
  100% {
    width: 100%; } }

.header {
  grid-column: full-start/full-end;
  padding: 2rem;
  background-image: linear-gradient(rgba(12, 10, 87, 0.71), rgba(12, 10, 87, 0.71), rgba(12, 10, 87, 0.71), rgba(12, 10, 87, 0.71)), url("../images/background1.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: grid; }
  .header__main {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    grid-column-gap: 10rem; }
    @media only screen and (max-width: 62.5em) {
      .header__main .header__brand {
        justify-self: center;
        justify-content: center; } }
    .header__main__nav {
      list-style: none;
      font-size: 1.8rem;
      display: grid;
      grid-template-columns: repeat(6, minmax(min-content, 1fr));
      justify-items: center; }
      .header__main__nav a {
        color: #fff;
        text-decoration: none; }
      .header__main__nav li {
        border-bottom: 4px solid transparent;
        transition: all .5s; }
      .header__main__nav li:hover {
        color: #ffa116;
        border-bottom: 4px solid #ae1ec7; }
      @media only screen and (max-width: 87.5em) {
        .header__main__nav {
          grid-row: 2/3;
          grid-column: 1/-1;
          justify-self: center;
          justify-items: center; } }
    .header__main__btns {
      justify-self: end;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      grid-gap: 5rem; }
      @media only screen and (max-width: 87.5em) {
        .header__main__btns {
          grid-row: 1/2;
          grid-column: -2/-1;
          align-self: center; } }
      @media only screen and (max-width: 62.5em) {
        .header__main__btns {
          grid-row: 3/-1;
          justify-self: center; } }
    @media only screen and (max-width: 87.5em) {
      .header__main {
        grid-template-rows: repeat(2, min-content); } }
    @media only screen and (max-width: 62.5em) {
      .header__main {
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: 1fr;
        grid-row-gap: 2rem; } }
  .header__details {
    grid-row: 2/3;
    justify-self: center; }
    .header__details h3 {
      text-transform: capitalize; }

@media only screen and (max-width: 43.75em) {
  .header {
    grid-template-rows: min-content;
    grid-row-gap: 10rem;
    grid-column: 1/-1; }
    .header__main {
      padding: 0;
      grid-template-rows: min-content;
      justify-items: start; }
      .header__main .header__brand {
        grid-row: 1/2;
        justify-self: center; }
      .header__main__nav {
        grid-row: 2/3;
        justify-items: stretch;
        font-size: 1.4rem; }
      .header__main__btns {
        grid-row: 3/4;
        justify-self: center; } }

.about {
  grid-column: center-start/center-end;
  text-align: center;
  padding: 6rem; }
  .about__heading {
    color: #000000; }
  .about__details {
    font-size: 1.6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12);
    padding: 6rem;
    border-radius: 1rem;
    hyphens: auto; }
    @media only screen and (max-width: 43.75em) {
      .about__details {
        padding: 1.5rem;
        text-align: left; } }
  @media only screen and (max-width: 43.75em) {
    .about {
      grid-column: full-start/full-end; } }

.video {
  height: 30vh;
  grid-column: full-start/full-end;
  background-image: url("../images/pattern-1.png");
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin-bottom: 10rem;
  margin-top: -20rem;
  z-index: 10; }
  .video__img {
    grid-column: 2/-2;
    margin-top: -20rem;
    background-color: red;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem rgba(27, 25, 27, 0.78);
    background-image: linear-gradient(rgba(23, 54, 145, 0.4), rgba(23, 54, 145, 0.4)), url("../images/teaser1.png");
    background-size: cover;
    display: grid; }
  .video__title {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2rem 2rem 4rem black;
    align-self: end;
    justify-self: center;
    padding-bottom: 2rem; }
  .video__btn {
    width: 9rem;
    height: 9rem;
    background-color: #ffa116;
    border-radius: 50%;
    align-self: end;
    justify-self: center;
    fill: #fff;
    padding: 2rem; }

.team {
  grid-column: full-start/full-end;
  position: relative;
  background-color: #131144;
  padding: 6rem;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 10rem;
  justify-items: center; }
  .team__heading {
    grid-row: 1/span 1;
    text-align: center;
    color: #fff; }
  .team__members {
    grid-row: 2/span 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    width: 60%; }
  .team__btn {
    grid-row: -2/-1;
    align-self: center; }

.member {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 70% 20% 10%;
  grid-template-columns: 1fr;
  justify-items: center;
  transition: all .5s ease-in; }
  .member__photo {
    width: 20rem;
    height: 20rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative; }
  .member__img {
    height: 100%;
    transition: all .5s; }
  .member__contact {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    text-align: center;
    transform: translate(-50%, 50%);
    visibility: hidden;
    opacity: 0; }
    .member__contact svg {
      fill: #fff;
      width: 3rem;
      height: 3rem; }
  .member__name {
    font-size: 3rem;
    color: #fff;
    font-weight: 300; }
  .member__position {
    font-size: 2rem;
    color: #ff006a;
    font-weight: 300; }
  .member:hover {
    background: rgba(0, 0, 0, 0.3);
    box-sizing: 0 2rem 4rem rgba(0, 0, 0, 0.88); }
  .member:hover .member__img {
    filter: blur(0.1rem) brightness(50%);
    transform: scale(1.1); }
  .member:hover .member__contact {
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1; }

.events {
  grid-column: center-start/center-end;
  display: grid;
  grid-row-gap: 5rem; }
  .events__title {
    color: #000000;
    justify-self: center;
    text-align: center; }
  .events__items {
    width: 100%;
    height: 100%;
    display: grid;
    grid-row-gap: 5rem; }

.gallery {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 5rem;
  justify-items: center;
  align-items: center; }
  .gallery__heading {
    grid-row: 1/span 1;
    color: #000;
    font-weight: bold; }
  .gallery__items {
    grid-row: 2/-2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); }
  .gallery__btn {
    grid-row: -2/-1; }
  .gallery__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative; }
    .gallery__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 0, 106, 0.8);
      width: 100%;
      height: 10rem;
      opacity: 0;
      transition: opacity .2s ease-in, transform .6s ease-in; }
    .gallery__item:hover::before {
      opacity: 1;
      transform: scaleY(10); }
  .gallery__img {
    width: 100%;
    height: 100%; }
  .gallery__plus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: opacity .2s ease-in .8s; }
    .gallery__plus svg {
      fill: #fff;
      width: 8rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .gallery__item:hover .gallery__plus {
    visibility: visible;
    opacity: 1;
    animation: plusRotate 2s;
    animation-delay: .7s; }

.testimonials {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-rows: min-content;
  grid-gap: 10rem; }
  .testimonials__heading {
    grid-column: 1/-1;
    text-align: center;
    color: #000000; }
  .testimonials__content {
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }

.testimonial {
  display: grid;
  grid-row-gap: 2.5rem; }
  .testimonial__content {
    font-size: 1.7rem; }
  .testimonial__author {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2.5rem;
    align-self: end; }
  .testimonial__photo {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden; }
    .testimonial__photo img {
      width: 100%;
      height: 100%; }
  .testimonial__name {
    align-self: center; }

.sponsor {
  grid-column: full-start/full-end;
  background-image: url("../images/background/3.png");
  background-color: #110e3e;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 0;
  display: grid;
  justify-content: stretch; }
  .sponsor__items {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 10rem;
    justify-self: center;
    justify-items: center; }
    @media only screen and (max-width: 43.75em) {
      .sponsor__items {
        grid-gap: 5rem; } }
  .sponsor__item {
    width: 30rem;
    height: 15rem; }
    .sponsor__item img {
      width: 100%;
      height: 100%; }
  .sponsor__heading {
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10rem;
    justify-self: center;
    text-align: center; }

.connectivity {
  grid-column: full-start/full-end;
  margin-top: 5rem;
  display: grid;
  grid-template-rows: 1fr repeat(3, 20rem);
  grid-template-columns: 6fr 4fr;
  grid-row-gap: 5rem; }
  .connectivity__heading {
    grid-column: 1/-1;
    grid-row: 1/span 1;
    color: #000000;
    font-weight: bold;
    text-align: center; }
  .connectivity__map {
    grid-column: 1/span 1;
    grid-row: 2/-1;
    width: 70%;
    height: 60%;
    align-self: center;
    justify-self: center;
    border-radius: 2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.58); }
    .connectivity__map #mapid {
      width: 100%;
      height: 100%;
      border-right: 4px solid #ff006a; }
  .connectivity__item {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.69);
    border-radius: 1rem;
    padding-bottom: 4rem;
    background-image: linear-gradient(to left, rgba(184, 93, 42, 0.74), rgba(206, 127, 244, 0.85)), url("../images/timerback.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(150%);
    border-left: 4px solid #ff006a;
    grid-column: 2/span 1; }
    .connectivity__item svg {
      fill: #ff006a;
      width: 5rem;
      line-height: 1;
      display: inline-block;
      margin-bottom: -4rem; }
    .connectivity__item h3 {
      line-height: 1;
      font-weight: 400;
      color: #000000; }
    .connectivity__item span {
      font-weight: 300;
      color: #fff; }
    .connectivity__item--1 {
      grid-row: 2/span 1; }
    .connectivity__item--2 {
      grid-row: 3/span 1; }
      .connectivity__item--2 svg {
        width: 4rem; }
    .connectivity__item--3 {
      grid-row: 4/span 1; }

.newsletter-container {
  grid-column: full-start/full-end;
  height: 20rem;
  position: relative; }

.footer {
  grid-column: full-start/full-end;
  background-color: #131144;
  height: 100vh;
  margin-top: 20rem;
  position: relative; }
  .footer::before {
    content: '';
    position: absolute;
    top: -10%;
    width: 100%;
    height: 11.2rem;
    background-color: #131144;
    background-image: url("../images/pattern-4.png");
    background-repeat: no-repeat; }

.top {
  grid-template: min-content/min-content;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 50%;
  border: none;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  z-index: 100; }
  .top img {
    width: 100%;
    height: 100%; }

.brand {
  display: grid;
  grid-template-columns: repeat(6, 10rem);
  grid-template-rows: min-content;
  align-items: center;
  grid-gap: 2rem; }
  .brand__logo {
    grid-column: 1/2;
    width: 15rem;
    height: 12rem; }
    .brand__logo img {
      width: 100%;
      height: 100%; }
  .brand__details {
    grid-column: 2/5;
    margin-top: 3rem; }
  .brand__name {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold; }
  .brand__slogan {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: end;
    align-self: center;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase; }

@media only screen and (max-width: 43.75em) {
  .brand {
    grid-template-columns: min-content;
    grid-gap: 0; }
    .brand__details {
      margin-left: -3rem;
      margin-top: 3rem; } }

.nav ul {
  list-style: none;
  font-size: 2rem; }
  .nav ul a {
    color: #fff;
    text-decoration: none; }

.day {
  background-color: #a321b9;
  background: #a321b9 url("../images/timerback.png") no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 1.5rem;
  width: 30rem;
  height: 20rem;
  padding: 5% 5%;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  border-bottom: 0.5rem solid #ff006a; }
  .day h1 {
    font-size: 3rem;
    font-weight: 400; }

.event {
  position: relative;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-image: linear-gradient(rgba(227, 227, 227, 0.1), rgba(227, 227, 227, 0.1));
  color: rgba(0, 0, 0, 0.8);
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(2, min-content) minmax(min-content, 80rem);
  grid-column-gap: 10rem;
  align-items: center; }
  .event:hover .event__cover {
    visibility: visible; }
  .event:hover .event__cover {
    animation: eventAnime .3s ease-in;
    width: 100%; }
    .event:hover .event__cover > * {
      visibility: visible;
      opacity: 1; }
  .event:hover:before {
    animation: eventAnime .5s ease;
    visibility: visible; }
  .event::before {
    visibility: hidden;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.8);
    border-radius: 1rem;
    transition: all .2s ease; }
  .event > * {
    grid-row: 1/2; }
  .event__photo {
    grid-column: 1/span 1;
    width: 40rem;
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem; }
  .event__img {
    width: 100%;
    height: 100%; }
  .event__time {
    font-size: 2em;
    grid-column: 2/3; }
  .event__details {
    font-size: 1.7rem;
    display: grid;
    grid-row-gap: 1rem;
    grid-column: -2/-1; }
  .event__name {
    line-height: 1; }
  .event__cover {
    visibility: hidden;
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 10;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: #fff;
    display: grid;
    grid-template-columns: max-content repeat(2, min-content);
    grid-template-rows: min-content;
    grid-column-gap: 10rem;
    align-content: center;
    align-items: center;
    justify-content: center; }
    .event__cover > * {
      visibility: hidden;
      opacity: 0;
      transition: all .1s ease-in .4s; }
    .event__cover svg {
      line-height: 1;
      width: 4.5rem;
      fill: #fff; }
    .event__cover a {
      text-decoration: none; }
    .event__cover p {
      margin-left: -9.5rem; }
  @media only screen and (max-width: 68.75em) {
    .event {
      grid-column-gap: 3rem;
      padding: 2rem; } }
  @media only screen and (max-width: 62.5em) {
    .event {
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      justify-items: center;
      grid-row-gap: 5rem; }
      .event__details {
        grid-row: 2/3;
        grid-column: 1/-1;
        justify-self: start; }
      .event__time {
        align-self: center;
        font-size: 3rem; } }
  @media only screen and (max-width: 43.75em) {
    .event {
      grid-template-columns: min-content;
      grid-template-rows: repeat(3, min-content);
      justify-content: center;
      grid-row-gap: 1rem; }
      .event > * {
        grid-column: 1/-1; }
      .event__photo {
        grid-row: 1/2; }
      .event__time {
        grid-row: 2/3;
        display: flex; }
      .event__details {
        grid-row: 3/-1; }
      .event__cover {
        padding: 4rem;
        grid-template-rows: min-content;
        grid-template-columns: max-content;
        justify-content: center;
        justify-items: center;
        align-content: center;
        grid-row-gap: 2rem; }
        .event__cover svg {
          height: 4.5rem; }
        .event__cover p {
          margin-left: 0; } }

.newsletter {
  height: 25rem;
  width: 130rem;
  background-color: #ae1ec7;
  background-image: url("../images/pattern-3.png");
  background-size: cover;
  background-position: top;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.56);
  text-align: center;
  font-size: 2rem;
  position: relative;
  color: #fff;
  padding: 5rem 0;
  margin: 20rem 0rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }
  .newsletter h4 {
    font-weight: 300; }
  .newsletter input {
    width: 45%;
    height: 5rem;
    padding: 1rem; }
    .newsletter input:focus, .newsletter input:active {
      outline: 0; }
  .newsletter img {
    display: block; }
  .newsletter .left__img {
    position: absolute;
    top: 0;
    right: 0; }
  .newsletter .right__img {
    position: absolute;
    bottom: 0;
    left: 0; }
