%heading {
  font-weight: 400;
}

.heading-1 {
  font-size: 5.5rem;
}
.heading-2 {

}
.heading-3 {

}
.heading-4 {
  font-size: 2rem;
  font-weight: 300;

}
.heading-5 {
  font-size: 1.5rem;
  font-weight: 300;
}
