.connectivity {
  grid-column: full-start/full-end;
  margin-top: 5rem;
  display: grid;
  grid-template-rows: 1fr repeat(3, 20rem);
  grid-template-columns: 6fr 4fr;

  grid-row-gap: 5rem;

  &__heading {
    grid-column: 1/-1;
    grid-row: 1/span 1;
    color: #000000;
    font-weight: bold;
    text-align: center;
  }
  &__map {
    grid-column: 1/span 1;
    grid-row: 2/-1;
    width: 70%;
    height: 60%;
    align-self: center;
    justify-self: center;
    border-radius: 2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.58);
    & #mapid {
      width: 100%;
      height: 100%;
      border-right: 4px solid $pink;
    }
  }

  &__item {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.69);
    border-radius: 1rem;
    padding-bottom: 4rem;
    // background-image: url('../images/timerback.png');
    background-image: linear-gradient(to left, rgba(184, 93, 42, 0.74), rgba(206, 127, 244, 0.85)),  url('../images/timerback.png');
    background-size: cover;
    background-repeat: no-repeat;
    // background-color: rgba($violet, .8);
    filter: contrast(150%);
    border-left: 4px solid $pink;

    & svg {
      fill: $pink;
      width: 5rem;
      line-height: 1;
      display: inline-block;
      margin-bottom: -4rem;
    }
    & h3 {
      line-height: 1;
      font-weight: 400;
      color: #000000;
    }
    & span {
      font-weight: 300;
      color: #fff;
    }
    grid-column: 2/span 1;

    &--1 {
      grid-row: 2/span 1;
    }
    &--2 {
      grid-row: 3/span 1;
      & svg {
        width: 4rem;
      }
    }
    &--3 {
      grid-row: 4/span 1;
    }
  }
}
