.events {
  grid-column: full-start/full-end;
  justify-content: center;
  justify-items: center;

  display: grid;
  grid-row-gap: 5rem;
  &__title {
    color: #000000;
    justify-self: center;
    text-align: center;
  }

  &__items {
    width: 80%;

    display: grid;
    grid-row-gap: 5rem;
    justify-items: center;
  }
}
