.events {
  grid-column: full-start/full-end;
  justify-content: center;
  justify-items: center;

  background-image: radial-gradient( circle farthest-corner at 10% 20%,
    rgba(255,246,236,1) 39.5%,
    rgba(100,46,122,0.23) 100.2% );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  display: grid;
  &__title {

    color: #000000;
    justify-self: center;
    text-align: center;
  }

  &__items {


    display: grid;
    grid-row-gap: 5rem;
    justify-items: center;

    @media only screen and (max-width: $android) {
      width: 100%;
    }
    @media only screen and (max-height: $android) {
      width: 100%;
    }
  }
}
