.header {
  background-image: linear-gradient(rgba(12, 10, 87, 0.71),
                    rgba(12, 10, 87, 0.71),
                    rgba(12, 10, 87, 0.71),
                    rgba(12, 10, 87, 0.71)),
                    url('../images/background1.jpg');
  background-size: cover;
  background-position: center;

  padding-top: 2rem;
  padding-left: 5rem;
  height: 100vh;
  grid-column: full-start/full-end;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 20% 50% 30%;
  justify-content: center;
  align-items: center;

  &__nav {
  grid-column: 3/6;
    & ul {
      display: grid;
      grid-template-columns: repeat(5, minmax(10rem, 1fr));
      grid-gap: 1rem;
      justify-items: end;
      & li {
        border-bottom: 4px solid transparent;
        transition: all .5s;
      }
      & li:hover {
        color: $orange;
        border-bottom: 4px solid $violet;
      }
    }
  }

  &__btn {
    &.login {
      grid-column: 7/8;
    }
    &.register {
      grid-column: 8/9;
    }
    justify-self: center;
  }

  &__details {
    grid-column: 2/5;
    color: #fff;
    & h3 {
      text-transform: capitalize;
    }
  }

  &__count {
    grid-column: 2/7;
    background-color: #ffffff;

    // border-radius: 1.5rem;
    // box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.69);
    // padding: 2rem;

    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
    align-content: center;
    text-align: center;
    grid-column-gap: 2rem;
  }

}
