.header {
  grid-column: full-start/full-end;
  padding: 2rem;

  background-image: linear-gradient(rgba(12, 10, 87, 0.71),
                    rgba(12, 10, 87, 0.71),
                    rgba(12, 10, 87, 0.71),
                    rgba(12, 10, 87, 0.71)),
                    url('../images/background1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;

  display: grid;

  &__main {
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    grid-gap: 10rem;

    @media only screen and (max-width: $bp-huge) {
      grid-template-rows: repeat(2, min-content);
    }

    &__nav {

      @media only screen and (max-width: $bp-huge) {
        grid-row: 2/3;
      }

      list-style: none;
      font-size: 1.8rem;

      display: grid;
      grid-template-columns: repeat(5, minmax(10rem, 1fr));

      & a {
        color: #fff;
        text-decoration: none;
      }
      & li {
        border-bottom: 4px solid transparent;
        transition: all .5s;
      }
      & li:hover {
        color: $orange;
        border-bottom: 4px solid $violet;
      }
    }

    &__btns {
      justify-self: end;

      display: grid;
      grid-template-columns: 1fr 1fr;
      // justify-content: center;
      align-items: start;
      grid-gap: 5rem;
    }
  }

  &__details {
    grid-row: 2/3;
    justify-self: center;

    & h3 {
      text-transform: capitalize;
    }
  }

  &__count {

    background-color: #ffffff;
    justify-self: center;
    width: 70vw;
    // height: minmax(10vw, min-content);

    height: 70%;

    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-column-gap: 2rem;
  }

}
