.testimonials {
  grid-column: center-start/center-end;

  display: grid;
  grid-template-rows: min-content;
  grid-gap: 10rem;

  &__heading {
    grid-column: 1/-1;
    text-align: center;
    color: #000000;
  }

  &__content {
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

.testimonial {
  display: grid;
  grid-row-gap: 2.5rem;

  &__content {
    font-size: 1.7rem;
  }

  &__author {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2.5rem;
    align-self: end;
  }
  &__photo {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    align-self: center;
  }
}
