.vision {
  grid-column: full-start/full-end;
  grid-row: 2/3;
  height: 60vh;
  margin-top: -15rem;
  padding-top: 20rem;
  color: #000;
  background-image: url('../images/pattern-1.png');
  // background-size: cover;
  background-repeat: no-repeat;

  display: grid;
  grid-row-gap: 5rem;

  grid-template-columns: 20% 60% 20%;
  justify-items: center;
  align-items: center;
  text-align: center;

  & > * {
    grid-column: 2/-2;
  }
  & .heading__primary {
    text-transform: capitalize;
  }
  &__text {
    font-size: 1.6rem;
  }


}
