.day {
  background-color: #a321b9;
  background: #a321b9 url('../images/timerback.png') no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 1.5rem;
  width: 30rem;
  height: 20rem;
  padding: 5% 5%;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  border-bottom: .5rem solid $pink;

  & h1 {
    font-size: 3rem;
    font-weight: 400;
  }
}
