.event {
  position: relative;

  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-image: linear-gradient(rgba(227, 227, 227, 0.1), rgba(227, 227, 227, 0.1));
  background-image: linear-gradient( 68.1deg,  rgba(255,200,69,1) -0.3%, rgba(239,69,115,1) 100.2% );
  color: rgba(#000000, 0.8);
  padding: 4rem;
  width: 100%;

  display: grid;
  // grid-template-columns: repeat(2, min-content) minmax(min-content, 80rem);
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
  align-items: center;
  justify-items: center;


  &__photo {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    width: 40rem;
    height: 30rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;

  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__time {
    font-size: 2em;
    grid-column: 2/3;
    grid-row: 1/span 2;
  }

  &__details {
    font-size: 1.7rem;
    display: grid;
    grid-row-gap: 1rem;
    grid-column: -2/-1;
    grid-row: 1/span 1;
  }
  &__name {
    line-height: 1;
  }
  &__contact {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: center;
    align-items: center;
  }
  &__cover {
    grid-row: 2/-1;
    grid-column: 2/-1;
    font-size: 2rem;
    color: #fff;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    grid-column-gap: 4rem;
    align-content: center;
    align-items: center;
    justify-content: center;

    & svg {
      line-height: 1;
      width: 4.5rem;
      height: 4.5rem;
      fill: #fff;
    }
    & a {
      text-decoration: none;
    }
    & .registered-btn {
      display: none;
    }
  }

  @media only screen and (max-width: 68.75em) {
    grid-column-gap: 3rem;
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-large) {
    // grid-template-columns: repeat(2, minmax(min-content,1fr));
    // justify-items: center;
    // grid-row-gap: 5rem;
    //
    // &__details {
    //   grid-row: 2/3;
    //   grid-column: 1/-1;
    //   justify-self: start;
    // }
    // &__time {
    //   align-self: center;
    //   font-size: 3rem;
    // }
  }
  @media only screen and (max-width: $bp-mobile) {
    grid-template-rows: repeat(3, min-content);
    justify-content: center;
    grid-row-gap: 1rem;
    & > * {
      grid-column: 1/-1;
    }

    &__photo {
      grid-row: 1/2;
    }
    &__time {
      grid-row: 2/3;
      display: flex;
      justify-content: center;

    }
    &__details {
      grid-row: 3/-1;
    }
    &__cover {

      padding: 4rem;
      grid-template-rows: min-content;
      grid-template-columns: max-content;
      justify-content: center;
      justify-items: center;
      align-content: center;
      grid-row-gap: 2rem;

      & svg {
        height: 4.5rem;
        width: 4.5rem;
      }
      & p {
        margin-left: 0;
      }
    }
  }
}


.event {
  @media only screen and (max-width: $android) {
    grid-template-columns: min-content;
    grid-template-rows: repeat(3, min-content);
    padding: 0;


    &:hover &__img {
      transform: scale(1.2);
      filter: brightness(60%);
    }

    &__photo {
      visibility:  hidden;

      grid-row: 1 / 2;
      grid-column: 1/2;
      width: 10rem;
      height: 10rem;
    }
    &__img {
      object-fit: cover;
      overflow: hidden;
      filter: brightness(70%);
    }
    &__time {
      grid-row: 2 /3;
      grid-column: 1/2;
      z-index: 1;
      border-radius: .2rem;
      padding: .5rem;
      color: #fff;
      font-size: 3rem;
    }
    &__details {
      grid-row: 1 / span 1;
      grid-column: 1/2;
      z-index: 1;
      padding: 4rem;
      color: #fff;
      font-size: 2.5rem;
      // background-image: linear-gradient( 68.1deg,  rgba(255,200,69,1) -0.3%, rgba(239,69,115,1) 100.2% ), url("../images/team-1.jpg");

      & h1 {
        font-weight: normal;
      }
      & h4 {
        font-weight: normal;
        line-height: 1;
        font-size: 3.5rem;
      }

    }
    &__cover {
      grid-row: 3 /4;
      grid-column: 1/2;
      display: grid;
      grid-template-columns: repeat(3, min-content);
      grid-column-gap: .5rem;
      font-size: 2rem;
      justify-content: center;
      align-content: center;
      align-items: center;
      justify-items: center;

      @media only screen and (max-width: $bp-smallest) {
      
      }
    }
  }

}
