.event {
  position: relative;

  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-image: linear-gradient(rgba(227, 227, 227, 0.1), rgba(227, 227, 227, 0.1));
  color: rgba(#000000, 0.8);
  padding: 4rem;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, min-content) minmax(min-content, 80rem);
  grid-column-gap: 10rem;
  align-items: center;

  &:hover &__cover {
    visibility: visible;
  }
  &:hover &__cover {
    animation: eventAnime .3s ease-in;
    width: 100%;

    & > * {
      visibility: visible;
      opacity: 1;
    }
  }

  &:hover:before {
    visibility: visible;
    opacity: 1;
  }

  &::before {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#030303, 0.8);
    border-radius: 1rem;
    transition: all 1s ease-in-out;
  }
  & > * {
    grid-row: 1/2;
  }
  &__photo {
    grid-column: 1/span 1;
    width: 40rem;
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;

  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__time {
    font-size: 2em;
    grid-column: 2/3;
  }

  &__details {
    font-size: 1.7rem;
    display: grid;
    grid-row-gap: 1rem;
    grid-column: -2/-1;
  }
  &__name {
    line-height: 1;
  }
  &__cover {

    & > * {
      visibility: hidden;
      opacity: 0;

      transition: all .1s ease-in .4s;
    }
    visibility: hidden;
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 10;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: #fff;

    // transition: all .2s ease-in;

    display: grid;
    grid-template-columns: max-content repeat(2, min-content);
    grid-template-rows: min-content;
    grid-column-gap: 10rem;
    align-content: center;
    align-items: center;
    justify-content: center;

    & svg {
      line-height: 1;
      width: 4.5rem;
      fill: #fff;
    }
    & a {
      text-decoration: none;
    }
    & p {
      margin-left: -9.5rem;
    }
  }

  @media only screen and (max-width: 68.75em) {
    grid-column-gap: 3rem;
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(2, minmax(min-content,1fr));
    justify-items: center;
    grid-row-gap: 5rem;

    &__details {
      grid-row: 2/3;
      grid-column: 1/-1;
      justify-self: start;
    }
    &__time {
      align-self: center;
      font-size: 3rem;
    }
  }
  @media only screen and (max-width: $bp-mobile) {
    grid-template-rows: repeat(3, min-content);
    justify-content: center;
    grid-row-gap: 1rem;
    & > * {
      grid-column: 1/-1;
    }

    &__photo {
      grid-row: 1/2;
    }
    &__time {
      grid-row: 2/3;
      display: flex;

    }
    &__details {
      grid-row: 3/-1;
    }
    &__cover {

      padding: 4rem;
      grid-template-rows: min-content;
      grid-template-columns: max-content;
      justify-content: center;
      justify-items: center;
      align-content: center;
      grid-row-gap: 2rem;

      & svg {
        height: 4.5rem;
      }
      & p {
        margin-left: 0;
      }
    }
  }
}


.event {
  @media only screen and (max-width: $android) {
    // grid-template-columns: minmax(min-content, 30rem);
    grid-template-columns: min-content;
    grid-template-rows: repeat(3, min-content);
    padding: 0;


    &__photo {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      width: 50rem;
      height: 50rem;
    }
    &__img {
      object-fit: cover;
      overflow: hidden;
      filter: brightness(70%);
    }
    &__time {
      grid-row: -3 /-2;
      z-index: 1;
      background-color: rgba(#030303, 0.8);
      border-radius: .2rem;
      padding: .5rem;
      color: #fff;
    }
    &__details {
      grid-row: 1 / span 1;
      z-index: 1;
      padding: 4rem;
      color: #fff;
      font-size: 2rem;

    }
    &__cover {
      grid-row: -2 /-1;
      display: grid;
      grid-template-columns: max-content min-content min-content;
      grid-column-gap: .5rem;
      font-size: 2rem;
      justify-content: center;
      align-content: center;
      align-items: center;
      justify-items: center;
      background-color: rgba(#030303, 0.8);

      & > * {
        visibility: visible;
        opacity: 1;
      }
      visibility: visible;
    }
  }
}
