.card {
  visibility: hidden;

  position: fixed;
  bottom: 4vh;
  right: 2vw;
  z-index: 10;
  background-image: linear-gradient(rgba(255, 200, 69, .81), rgba(255, 200, 69, .81));
  color: #fff;

  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 2rem;
  border-radius: 1rem;
  border: 2px solid rgba(255, 200, 69, .71);
  box-shadow: 0 2rem 4rem rgba(255, 200, 69, 1);
  padding: 2rem;
  width: 40rem;
  // animation: slideInRight 1s ease-in-out;
  // animation: slideOutUp 1s ease-in-out;

  &__header {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-evenly;
    align-items: center;

    & svg {
      height: 4.5rem;
      width: 4.5rem;
      fill: #fff;
    }
  }

  &__heading {
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-size: 4rem;
  }

  &__close {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: -1rem;
    top: -1rem;
  }

  &__input {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    border: 1.5px solid transparent;
    // padding: 1rem;

    & .icon {
      margin-left: -3rem;
    }

    & svg {
      fill: transparent;
    }
  }

  &__submit {
    display: flex;
    align-items: center;

    & svg {
      height: 4.5rem;
      width: 4.5rem;
      margin-left: 2rem;
      fill: transparent;
    }

  }


  &__body {
    display: grid;
    grid-template-rows: min-content;
    // grid-template-columns: min-content;
    font-size: 1.6rem;

    & input {
      padding: 1rem;
      border: none;
      border-radius: 0;
      outline: none;
      box-shadow: 0;
      cursor: pointer;
      background-color: transparent;
      font-size: 2rem;
      color: #fff;
      border-bottom: 2px solid rgba(255, 200, 69, .71);

    }
    & .btn {
      width: 40%;
      padding: .3rem .6rem;
      margin: 2rem 0;
      cursor: pointer;
    }
    & a {
      color: rgba(67, 8, 152, 0.92);
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }
  }


}

.icon {
  width: 3rem;
  height: 3rem;

  &--success {
    fill: rgba(#0cd76a, 0.9);
  }
  &--danger {
    fill: rgba(#e21919, 0.81);
  }
}

.error {
  color: rgba(#e21919, 1) !important;
  font-size: 1.2rem;
}
.info {
  color: #000;
  font-size: 1.2rem;
}


.red-fill {
  fill: rgba(#e21919, 0.81) !important;
  animation: shake .6s !important;
}
.green-fill {
  fill: rgba(#0cd76a, 0.9) !important;
  animation: fadeIn 1s !important;
}
.loading {
  fill: rgba(#0cd76a, 0.9) !important;
  animation: rotateInPlace 2s infinite !important;
  // animation-iteration-count: infinite;
}
