.top {
  grid-template: min-content/min-content;

  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 50%;
  border: none;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;

  & img {
    width: 100%;
    height: 100%;
  }
}
