@keyframes memberAnimation {
  0% {
    background-image: linear-gradient(rgba(transparent, .5) 0%);
  }
  10% {
    background-image: linear-gradient(rgba(transparent, .5) 10%);
  }
  30% {
    background-image: linear-gradient(rgba(transparent, .5) 30%);
  }
  60% {
    background-image: linear-gradient(rgba(transparent, .5) 60%);
  }
  100% {
    background-image: linear-gradient(rgba(transparent, .5) 100%);
  }
}

@keyframes plusRotate {

  0% {
    transform:  rotate(0deg);

  }
  100% {

    transform: rotate(720deg);
  }
}

@keyframes eventAnime {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  100% {
    width: 100%;
  }

}
