@keyframes memberAnimation {
  0% {
    background-image: linear-gradient(rgba(transparent, .5) 0%);
  }
  10% {
    background-image: linear-gradient(rgba(transparent, .5) 10%);
  }
  30% {
    background-image: linear-gradient(rgba(transparent, .5) 30%);
  }
  60% {
    background-image: linear-gradient(rgba(transparent, .5) 60%);
  }
  100% {
    background-image: linear-gradient(rgba(transparent, .5) 100%);
  }
}

@keyframes plusRotate {

  0% {
    transform:  rotate(0deg);

  }
  100% {

    transform: rotate(720deg);
  }
}

@keyframes eventAnime {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}

@keyframes rotateInPlace {
  0% {
    transform: rotate(36deg);
  }
  10% {
    transform: rotate(72deg);
  }
  20% {
    transform: rotate(108deg);
  }
  30% {
    transform: rotate(144deg);
  }
  40% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(216deg);
  }
  60% {
    transform: rotate(252deg);
  }
  70% {
    transform: rotate(298deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
