// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Arimo', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

//RESPONSIVE BREAKPOINTS
$bp-huge: 87.5em;
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em; //800px
$bp-mobile: 43.75em; //700px
$bp-small: 37.5em; //600px

$bp-smallest: 34.375em; //500px


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% => 1rem = 10px;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 45%;
  }
}
body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;

  & a:active,
  & a:focus {
    outline: none;
  }

  // background-image: linear-gradient(rgba(12, 10, 87, 0.71),
  //                   rgba(12, 10, 87, 0.71),
  //                   rgba(12, 10, 87, 0.71),
  //                   rgba(12, 10, 87, 0.71)),
  //                   url('../images/background1.jpg');
  // background-size: cover;
  // background-position: center;
  // background-attachment: fixed;
}

.active {
  border-bottom: 2px solid $pink;
}

.container {
  position: relative;

  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  grid-template-rows: 100vh repeat(1, 1fr);
  grid-row-gap: 5rem;

  @media only screen and (max-width: $bp-mobile) {
    grid-template-rows: 100vh;
  }
}

[data-scroll] {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}
